@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}

.footer-distributed {
    background-color: #4d4d48;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    font-size: 130%;
    min-height:100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    padding: 50px 0;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 500px;
}

/* The company logo */

.footer-distributed h3 {
    color: #f4f4f4;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */
.footer-links2 img {
    width: 150px;
    background-color: #f4f4f4;
    border-radius: 100%;
}

.footer-links2 {
    float: left;
    padding: 25px;
}

.footer-distributed .footer-links {
    color: #f4f4f4;
    float: left;
}

.footer-distributed .footer-links a {
    display: flex;
    align-content: center;
    justify-content: left;
    text-decoration: none;
    color: inherit;
    font-size: 150%;
}

.footer-distributed .footer-links a:hover {
    color: #008d39;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 400px;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #f4f4f4;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #f4f4f4;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 12px;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #f4f4f4;
    display: inline-block;
    padding-right: 5px;
}


.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 400px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #f4f4f4;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-icons {
    margin: 25px;
}

.ic {
    margin: 0 10px;
    border-radius: 50%;
    transition: 0.5s;
    padding: 10px;
}

.vk {
    color: #f4f4f4;
    font-size: 35px;
    background: #33383b;
}

.vk:hover {
    color: white;
    background: rgb(102, 122, 211);

}

.fa-instagram {
    color: #f4f4f4;
    font-size: 35px;
    background: #33383b;
}

.fa-instagram:hover {
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border: none;
}

.fa-whatsapp {
    color: #f4f4f4;
    font-size: 35px;
    background: #33383b;
}

.fa-whatsapp:hover {
    color: white;
    background: rgb(70, 186, 47);
}

@media screen and (max-width: 1024px){
    .footer-distributed {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .footer-distributed .footer-left {
        width: 300px;
    }
}

@media screen and (max-width: 880px) {

    .footer-distributed {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .footer-distributed .footer-left {
        width: 300px;
    }


}

@media screen and (max-width: 375px) {
    .footer-distributed .footer-center {
        width: 70%;
        font-size: 16px;
    }
    .footer-distributed .footer-right {
        width: 90%;
        font-size: 16px;
    }
}