@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 300px;
  float: left;
}

.card {
  width: 300px;
  height: 100vh;
  background-color: #0a5d43;
}

.header {
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #0a5d43;
}

h3 {
  color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}

.iconM {
  font-size: 18px;
  margin-left: 170px;
  color: #0a322a;
}

.icon {
  margin-right: 8px;
}

.body li {
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-left: -40px;
  margin-top: 0;
  color: #f4f4f4;
  list-style: none;
  //display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

li:hover {
  transition: 0.4s all;
  color: #f4f4f4;
  background-color: #0a322a;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

.body > li {
  float: left;
}

.body li ul {
  background: #0a5d43;
  margin-left: 280px;
  margin-top: -38px;
  display: none;
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

.body li:hover > ul {
  display: block;
  cursor: pointer;
}